/* ===============================
   GLOBAL RESET
================================ */

* {
  @apply box-border;
}

body {
  @apply bg-gray-50;
}
html, body, #root {
  height: 100%;
}
.app-hidden {
  visibility: hidden;
}

.app-visible {
  visibility: visible;
}


/* =========================
   GLOBAL BASE STYLES
========================= */