/* ===============================
   GLOBAL RESET
================================ */

* {
  @apply box-border;
}

body {
  @apply bg-gray-50;
}
/* =========================
   GLOBAL BASE STYLES
========================= */


